* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23765d9f' fill-opacity='0.95' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    font-size: 62.5%;
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
}

.navbar {
    background-color: #ffffff;
}
.tablero {
    display:grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 20px 1fr 20px;
    width: min(100vh , 100vw);
    height: min(100vh , 100vw);
    position: relative;
}
.barUp {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
}
.barUp::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #6c4a00;
    left: 0;
}   
.barUp::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #6c4a00;
    right: 0;
}   
.barUp div {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #6c4a00;
    justify-content: center;
    align-items: center;
}
.barDown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
}
.barDown::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #6c4a00;
    left: 0;
}
.barDown::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #6c4a00;
    right: 0;
}
.barDown div {
    display: flex;
    width: 100%;
    color: #ffffff;
    background-color: #6c4a00;
    justify-content: center;
    align-items: center;
}
.barRight {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column-reverse;
    background-color: #6c4a00;
    color: #fff;
}
.barRight div {
    display: flex;
    height:  100%;
    color: #ffffff;
    background-color: #6c4a00;
    justify-content: center;
    align-items: center;
}
.barLeft {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column-reverse;
    background-color: #6c4a00;
    color: #fff;
}
.barLeft div {
    display: flex;
    height:  100%;
    color: #ffffff;
    background-color: #6c4a00;
    justify-content: center;
    align-items: center;
}


.cuadros {
    display: grid;
    grid-gap: 0;
    grid-column: 2 / 3;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
      
}

.blanco {
    background-color: #888275;
   
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    
    
}

.negro {
    background-color: #825900;
  
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    
}

.barLeft.reversa {
    flex-direction: column;
}
.barRight.reversa {
    flex-direction: column;
}
.barUp.reversa {
    flex-direction: row-reverse;
}
.barDown.reversa {
    flex-direction: row-reverse;
}
